#background{
    width: auto;
    height: 1100px;
}
#background{
    display: flex;
    background-image:url( "../../../images/bg.jpg");

}



#khung{
    width: 900px;height: 500px;margin: 5px auto;}


#header{
    width: 900px;
    height: 90px;
    margin-bottom: 15px;
}
#header p{line-height: 0px;padding-right: 70px;}
#header b{line-height: 120px;padding-left: 0px;}
#header {display: flex; background-image: url();
}

.logo{
    width: 900px;height: 40px;
    background: #d8a76a;
    justify-items: center;
}
.logo ul li a{
    text-decoration: none;
    font-weight: 700;
    color:#000000;

}

.logo ul{
    text-align: center;
    padding: 10px 0px;

}
.logo li{
    text-decoration:none ;
    display: inline;
    padding-right: 25px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 40px;

}
.logo a:hover{
    color: aliceblue;
}

#body{font-family: Georgia, Times, serif;}
#body{width: 900px;height: 580px;background:white;margin-bottom: 5px;border-right: 2px #000000;}
#body #Lcontent{width: 580px;float:left;padding-top:20px; border-right: 2px solid #000000}
#d2{padding-bottom: 55px;width: auto;height:200px; }
#d1{padding-bottom: 55px;width: auto;height:200px; }

#body #Lcontent #anh1{width: 250px; float: left;}
#body #Lcontent #anh1 img{width:250px; height: 200px; padding:4px}
#body #Lcontent #bokchoi{width: 270px; float:right;color:#A65D5E}
#body #Rcontent{width: 300px;float:right}
#body #Lcontent #anh2{width: 250px;height:200px; float: left;padding-top: 20px;}
#body #Lcontent #anh2 img{width:250px; height: 200px; padding:4px}
#body #Lcontent #teriyaki{width: 280px; float:right;color:#A65D5E;}
#body #Rcontent h1{margin-bottom: 0px}
#body #Rcontent h4{margin-bottom: 10px}
#body #Rcontent h1 h4 a{text-decoration: none;color:#690d5d}
#body #Rcontent a {text-decoration: none}
#body #Rcontent a:hover{color: #000000}
#body #Rcontent #duongke { border-top: 1px solid #D2D2D2;margin: 10px;}
#body #Rcontent #duongke2{ border-top: 1px solid #D2D2D2;margin: 10px;}
#body #Rcontent #duongke3{ border-top: 1px solid #D2D2D2;margin: 10px;}
#body #Rcontent #duongke4{ border-top: 1px solid #D2D2D2;margin: 10px;}
#body #Rcontent h2{margin-bottom: 50px}
#body #Rcontent p{margin-bottom: 30px}
#body #Rcontent #contact b{color: #E94043}
#body #Rcontent #contact p{line-height: 0px;}
#body #Rcontent {color:#A65D5E}

.ft-top{
    display: flex;
    width: calc(100% - 200px);
    height: 230px;
    background-color:#d8a76a;
    border-bottom: gray solid 1px;
    position: relative;
    left: 100px;
}

.col-20{
    width: 20%;
    height: auto;
}

.col-20 ul{
    margin: 0;
    padding: 0;
    position: relative;
    top: 80px;
}

.col-20 ul li{
    list-style: none;
}

.col-20 ul li a{
    text-decoration: none;
    color:#000000;
    line-height: 3em;
    font-weight: 600;
    font-size: 12px
}

.col-22{
    width: 22.5%;
    height: auto;
}

.col-22 ul{
    margin: 0;
    padding: 0;
    position: relative;
    top: 80px;
}

.col-22 ul li {
    text-decoration: none;
    color:#000000;
    line-height: 3em;
    font-weight: 600;
    font-size: 12px;
    list-style: none;
}


.col-35{
    width: 35%;
    height: auto;
}

.col-35 ul{
    margin: 0;
    padding: 0;
    position: relative;
    top: 80px;
    right: -43px;
}

.col-35 ul li{
    text-decoration: none;
    color:#000000;
    line-height: 3em;
    font-weight: 600;
    font-size: 12px;
    list-style: none;
}

.col-35 ul input{
    width: 70%;
    height: 35px;
    background-color:#000000;
    border:#000000 solid 1.5px;
    padding: 6px 10px;
    color:#000000;
}

.Enter{
    width: 60px;
    height: 48.5px;
    border: none;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px ;
}

.col-20 ul li a:hover{
    color: white;
    border-bottom:white solid 1px;
}


.ft-bottom{
    width: 100%;
    height: 50px;
}

.ft-bottom p{
    color:#000000;
    font-size: 12px;
    text-align: center;
    padding: 15px 0;

}

footer{
    height: auto;
    background-color:#d8a76a;
}